.change-date {
    grid-row: 2/3;
    grid-column: 4/5;
    justify-self: start;

    font-size: 24;
    font-family: $font-roboto;
    font-weight: 100;
    line-height: center;
    color: white;
    text-align: center;

    background-color: transparent;
    border: none;

    transform: rotate(-70deg) translate(-30px, -30px);

    &:focus {
        outline: none;
    }

    i {
        margin-right: 20px;
    }

}